@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide {
  0% { transform: translateX(0%); }
  12.5% { transform: translateX(-100%); }
  25% { transform: translateX(-200%); }
  37.5% { transform: translateX(-300%); }
  50% { transform: translateX(-400%); }
  62.5% { transform: translateX(-500%); }
  75% { transform: translateX(-600%); }
  87.5% { transform: translateX(-700%); }
  100% { transform: translateX(0%); }
}

.animate-slide {
  animation: slide 40s infinite;
}